<!--
  #%L
  recipeton-cookbook-service-fe
  %%
  Copyright (C) 2021 tincomisc
  %%
  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as
  published by the Free Software Foundation, either version 3 of the
  License, or (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public
  License along with this program.  If not, see
  <http://www.gnu.org/licenses/gpl-3.0.html>.
  #L%
  -->
<mat-toolbar class="mat-elevation-z4" color="{{searchBarActive?'accent':'primary'}}">
  <mat-progress-bar *ngIf="busy" data-sem="progressBar" mode="indeterminate"></mat-progress-bar>
  <mat-toolbar-row fxFill fxLayout="row" fxLayoutAlign="space-around center">
    <div *ngIf="!searchBarActive">
      Recipeton
    </div>
    <div [ngClass]="{'active':searchBarActive}" class="toolbar-search-container" fxFlex fxLayoutAlign="end center">
      <mat-form-field>
        <input #queryInput autocomplete="off" data-sem="search" matInput placeholder="{{ 'query' | translate}}"
               type="search">
      </mat-form-field>
      <button (click)="onSearchButtonClicked()" class="search-icon" data-sem="search_toggle_do" mat-icon-button
              type="button">
        <mat-icon *ngIf="!searchBarActive" class="mat-18">search</mat-icon>
        <mat-icon *ngIf="searchBarActive" class="mat-18">{{ 'close' | translate}}</mat-icon>
      </button>
    </div>
    <button [matMenuTriggerFor]="dropdownMenu" mat-icon-button>
      <mat-icon>more_vert</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<mat-menu #dropdownMenu>
  <button (click)="onAboutClicked()"
          [attr.data-sem]="'about'"
          [disabled]="false"
          mat-menu-item>
    <mat-icon>info_outline</mat-icon>
    <span>{{ 'about' | translate}}</span>
  </button>
</mat-menu>

<mat-card *ngIf="error" data-sem="errorGeneral">{{error.message | translate}}</mat-card>

<mat-card *ngIf="!recipeCollections" data-sem="empty">{{'empty' | translate}}</mat-card>
<table [dataSource]="getRecipeCollections()" class="mat-elevation-z1" data-sem="recipeCollections_container" mat-table
       multiTemplateDataRows>

  <ng-container matColumnDef="recipeCollection">
    <th *matHeaderCellDef mat-header-cell>{{ "name" | translate}}</th>
    <td (click)="onRowClicked(rc)" *matCellDef="let rc" data-sem="recipeCollection_name" mat-cell>
      <span>{{ rc.name }}</span>
    </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th *matHeaderCellDef mat-header-cell></th>
    <td *matCellDef="let rc" align="right" class="actions" mat-cell (click)="onExpandClicked(rc);">
      <button *ngIf="rc.published" color="accent" mat-raised-button>{{'published' | translate}}</button>
      <button *ngIf="!isSearchMode()"  mat-icon-button>
        <mat-icon color="accent">{{isExpanded(rc) ? 'expand_less' : 'expand_more'}}</mat-icon>
      </button>
    </td>
  </ng-container>

  <ng-container matColumnDef="expandedDetail">
    <td (click)="onExpandClicked(rc)" *matCellDef="let rc" [attr.colspan]="2" mat-cell>
      <div [@detailExpand]="isExpanded(rc) ? 'expanded' : 'collapsed'" class="element-detail"
           data-sem="recipeCollection_contents">
        <mat-list *ngIf="isExpanded(rc)">
          <mat-list-item *ngFor="let r of getRecipeCollectionTitlesByRecipeCollection(rc)">{{r}}</mat-list-item>
        </mat-list>
      </div>
    </td>
  </ng-container>

  <tr *matHeaderRowDef="displayedColumns" hidden mat-header-row></tr>

  <tr *matRowDef="let rc; columns: displayedColumns;" [attr.data-semq]="rc.id" [class.expanded-row]="isExpanded(rc)"
      [class.selected-row]="isSelected(rc)"
      class="element-row" data-sem="recipeCollection_container" mat-row>
  </tr>
  <tr *matRowDef="let rc; columns: ['expandedDetail']" class="detail-row" data-sem="recipeCollection_containerExpanded"
      mat-row></tr>

</table>

<div class="fab-container">
  <button mat-fab (click)="onPublishClicked();" [disabled]="isPublishDisabled()" data-sem="publish_do">
    <mat-icon>play_arrow</mat-icon>
  </button>
</div>
