<!--
  #%L
  recipeton-cookbook-service-fe
  %%
  Copyright (C) 2021 tincomisc
  %%
  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as
  published by the Free Software Foundation, either version 3 of the
  License, or (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public
  License along with this program.  If not, see
  <http://www.gnu.org/licenses/gpl-3.0.html>.
  #L%
  -->
<div data-sem="about_component">
  <h2 mat-dialog-title>{{'about' | translate}}</h2>
  <mat-progress-bar *ngIf="isBusy()" data-sem="progressBar" mode="indeterminate"></mat-progress-bar>
  <mat-dialog-content>
    <div *ngIf="actuatorInfo && actuatorInfo.build">
      <h4 data-sem="artifact_id">{{ actuatorInfo.build.artifact }}</h4>
      <h5 data-sem="artifact_group">{{ actuatorInfo.build.group }}</h5>
      <h5 data-sem="artifact_version">{{ actuatorInfo.build.version }}</h5>
    </div>
  </mat-dialog-content>
</div>
